## Copyright 2024, Usman Saleem.
## SPDX-License-Identifier: (Apache-2.0 OR MIT)

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

# Ignore data and tokens in volume directory
docker/volumes/data
docker/volumes/tokens
